/* Reset */
* {
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
}

/* Global-scope CSS Variables */
:root {
  --main-color: white;
  --main-color-: rgb(246, 248, 241);
  --main-color--: rgb(226, 228, 223);

  --opposite-color: rgb(34, 34, 34);
  --opposite-color-: rgb(56, 56, 56);
  --opposite-color--: rgb(80, 80, 80);

  --action-color: rgb(45, 118, 238);
  --action-color-: rgb(30, 96, 201);
  --action-color--: rgb(19, 69, 150);
  --action-color---: rgb(15, 58, 127);

  --special-color: rgb(221, 103, 26);

  --extension-width: 25rem;
  --extension-height: 35rem;
  --body-border-width: 0.25rem;

  --letter-spacing: -0.075ch;
}

@media (prefers-color-scheme: dark) {
  :root {  
    --main-color: rgb(34, 34, 34);
    --main-color-: rgb(53, 52, 52);
    --main-color--: rgb(80, 80, 80);

    --opposite-color: white;
    --opposite-color-: rgb(246, 248, 241);
    --opposite-color--: rgb(226, 228, 223);

    --action-color: rgb(37, 112, 233);
    --action-color-: rgb(20, 76, 189);
    --action-color--: rgb(0, 59, 154);
    --action-color---: rgb(0, 50, 129);
  }
}

html {
  font-size: 0.9em;
  border-radius: 0.5rem;
  overflow: hidden;
}

body {
  width: var(--extension-width);
  height: var(--extension-height);
  border: var(--body-border-width) solid var(--main-color--);
  background-color: var(--main-color);
  color: var(--opposite-color);
  overflow: hidden;

  display: grid;
  grid-template-areas: "header"
                       "main-top"
                       "main-bottom"
                       "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 0.75fr repeat(2, 1fr) 3.25rem;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  
  animation: body-fade-in 0.35s normal forwards ease-in-out;
}

@keyframes body-fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

/* Generics */
button {
  border: 0px;
  background-color: var(--action-color);
  color: var(--main-color);
  padding: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  border: 0px;
  border-radius: 0.15rem;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  button {
    transition: none;
  }
}

@media (prefers-color-scheme: dark) {
  button {
    color: var(--opposite-color);
  }
}


button:hover, button:focus {
  background-color: var(--action-color-);
}

button:disabled {
  background-color: var(--action-color-);
  opacity: 0.8;
  cursor: not-allowed;
}

a {
  color: var(--action-color);
  transition: color 0.25s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  a {
    transition: none;
  }
}

@media (prefers-color-scheme: dark) {
  a {
    color: var(--opposite-color--);
  }
}

a:hover {
  color: var(--action-color-);
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  a:hover {
    color: var(--opposite-color-);
  }
}