node_modules
.DS_Store
*.drawio.bkp
*.drawio.dtmp
*.dtmp
extension/lib/*.js
extension/lib/*.mjs
extension/lib/*.map
dist/
tmp.js
/test-results/
/playwright-report/
/playwright/.cache/
.env
perma-extension.zip
