archive-timeline {
  display: block;
  grid-area: main-bottom;
}

/* This element is not displayed when the user is not authenticated */
archive-timeline[authenticated="false"] {
  display: none;
  grid-area: unset;
}