archive-timeline {
  display: block;
  grid-area: main-bottom;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  opacity: 0;
  animation: archive-timeline-fade-in 0.35s normal forwards ease-in-out;
  animation-delay: 0.25s;
}

@keyframes archive-timeline-fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

/* This element is not displayed when the user is not authenticated */
archive-timeline[authenticated="false"] {
  display: none;
  grid-area: unset;
}

/* Empty message */
archive-timeline aside.empty {
  display: flex;
  height: 100%;
  border-top: 1px solid var(--main-color-);
}

archive-timeline aside.empty span {
  margin: auto;
  font-size: 1rem;
  color: var(--opposite-color--);
  letter-spacing: var(--letter-spacing);
  font-weight: normal;
}