archive-form {
  display: block;
  grid-area: main-top;
}

/* This element takes the space left by `<archive-timeline>` when the user is not authenticated */
archive-form[authenticated="false"] {
  grid-area: main-top / main-bottom;
}

archive-form * {
  max-width: 100%;
}

/* Properties shared by both sign-in and archive creation form */
archive-form > form {
  padding: 1rem;
  background-color: var(--main-color);
}

/* Sign-in form */
archive-form > form[action="#sign-in"] {
}

archive-form > form[action="#sign-in"] label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  letter-spacing: var(--letter-spacing);;
}

archive-form > form[action="#sign-in"] input {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0px;
  border-bottom: 2px solid var(--main-color--);
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75rem;
  margin-bottom: 1rem;
}

archive-form > form[action="#sign-in"] input::placeholder {
  color: var(--opposite-color--);
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: var(--letter-spacing);;
}

archive-form > form[action="#sign-in"] button {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}

archive-form > form[action="#sign-in"] a {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

/* Create archive form */
archive-form > form[action="#create-archive"] {
  text-align: right;
  display: grid;
}

archive-form > form[action="#create-archive"] > fieldset {
  border: 0px;
}

archive-form > form[action="#create-archive"] > fieldset label {
  color: var(--opposite-color-);
  font-size: 1rem;
  letter-spacing: var(--letter-spacing);;
  display: block;
  margin-bottom: 0.25rem;
  text-align: left;
}

archive-form > form[action="#create-archive"] > fieldset select {
  appearance: none;
  padding: 1rem;
  font-size: 1rem;
  color: var(--opposite-color);
  letter-spacing: var(--letter-spacing);;
  background-color: var(--main-color);
  border: 1px solid var(--main-color--);
  border-radius: 0.15rem;
  position: relative;
  top: 0px;
  width: 100%;
  display: block;

  border: 1px solid var(--action-color);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

archive-form > form[action="#create-archive"] > button {
  display: inline-block;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}