archive-form {
  display: block;
  flex: 1.25;
  text-align: center;
}

archive-form * {
  max-width: 100%;
}

/* Title */
archive-form h1 {
  padding: 1rem;
  padding-top: 2rem;
}

archive-form h1 img {
  max-width: 25%; 
  display: block;
  margin: auto;
  padding-bottom: 0.5rem;
}

archive-form h1 span {
  font-size: 1.85rem;
  letter-spacing: -0.125rem;
}

/* Tab summary */
archive-form .tab-summary {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--main-color-);
}

archive-form .tab-summary strong,
archive-form .tab-summary span {
  display: block;
  margin: auto;
  width: 26ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

archive-form .tab-summary strong {
  font-size: 1.35rem;
  letter-spacing: -0.1rem;
  padding-bottom: 0.25rem;
}

archive-form .tab-summary span {
  color: var(--opposite-color--);
  width: 38ch;
}

