status-bar {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid var(--main-color--);
  background-color: var(--main-color-);
  padding-left: 1rem;
  padding-right: 1rem;
}

status-bar > p {
  padding-top: 1rem;
  width: 30ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: var(--letter-spacing);
  color: var(--opposite-color-);
}

status-bar > button {
  padding: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 2.15rem;
  margin-top: 0.55rem;
  background-color: transparent;
  color: var(--action-color-);
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  status-bar > button {
    color: var(--opposite-color--);
  }
}

status-bar > button:hover,
status-bar > button:focus {
  background-color: transparent;
  color: var(--action-color);
}

@media (prefers-color-scheme: dark) {
  status-bar > button:hover,
  status-bar > button:focus {
    background-color: transparent;
    color: var(--opposite-color);
  }
}

status-bar > img {
  height: 1.65rem;
  margin-top: 0.8rem;
  margin-left: 0.5rem;
  opacity: 0.7;
  animation: status-bar-spinner 2s;
  animation-iteration-count: infinite;
}

@keyframes status-bar-spinner {
  to { transform: rotate(360deg); }
}

@media (prefers-reduced-motion: reduce) {
  status-bar > img {
    animation: none;
  }
}

@media (prefers-color-scheme: dark) {
  status-bar > img {
    filter: invert(1);
  }
}
